<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kingdomlifestyleradio.klsradio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>KLS Radio</name>
    <description>Kingdom Lifestyle Radio Streaming</description>
    <author email="ogunfoworakehinde55@gmail.com" href="https://kingdomlifestyleradio.com">
        Kingdom Lifestyle Radio
    </author>
    
    <content src="index.html" />
    
    <!-- Simple icon -->
    <icon src="www/images/icon.png" />
    
    <!-- Basic permissions -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Android platform -->
    <platform name="android">
        <!-- Simple preferences only -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="LoadUrlTimeoutValue" value="60000" />
        
        <!-- Status bar (if plugin installed) -->
        <preference name="StatusBarBackgroundColor" value="#000000" />
        
        <allow-intent href="market:*" />
    </platform>
</widget>