<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kingdomlifestyleradio.klsradio" version="12.0.6"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>KLS Radio</name>
    <description>KLS Radio Streaming App</description>
    <author email="dev@deloganwebsolution.com" href="https://kingdomlifestyleradio.com">
        Kingdom Lifestyle Radio
    </author>

    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="BackgroundColor" value="#0a0f2d" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#0a0f2d" />
    <preference name="KeepRunning" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="cordova_default_package" value="com.kingdomlifestyleradio.klsradio" />

    <!-- Required for Android 12+ -->
    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinCodeStyle" value="official" />
    <preference name="GradlePluginKotlinVersion" value="1.8.20" />
    <preference name="AndroidXAppCompatVersion" value="1.6.1" />
    <preference name="AndroidXWebKitVersion" value="1.6.1" />
    <preference name="GradlePluginAndroidXCoreVersion" value="1.10.1" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
        <preference name="android-installLocation" value="auto" />
        <preference name="android-backgroundColor" value="#0a0f2d" />
        <preference name="android-maxSdkVersion" value="35" />
        <preference name="versionCode" value="1206" />

        <icon density="ldpi" src="www/images/icon.png" />
        <icon density="mdpi" src="www/images/icon.png" />
        <icon density="hdpi" src="www/images/icon.png" />
        <icon density="xhdpi" src="www/images/icon.png" />
        <icon density="xxhdpi" src="www/images/icon.png" />
        <icon density="xxxhdpi" src="www/images/icon.png" />

        <!-- Required permissions for background audio and notifications -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
        </edit-config>

        <!-- Application configuration for background service -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application
                android:allowBackup="false"
                android:stopWithTask="false"
                android:foregroundServiceType="mediaPlayback"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:usesCleartextTraffic="true"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:launchMode="singleTask" />
        </edit-config>

        <!-- Background service definition -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service
                android:name="de.appplant.cordova.plugin.background.ForegroundService"
                android:foregroundServiceType="mediaPlayback"
                android:exported="false" />
            
            <receiver android:name="de.appplant.cordova.plugin.background.BackgroundModeBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
            
            <meta-data android:name="android.max_aspect" android:value="2.1" />
        </config-file>

        <!-- Music Controls2 configuration -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <receiver android:name="com.rastapasta.musiccontrols.MusicControlsNotificationReceiver" />
            <receiver android:name="com.rastapasta.musiccontrols.MusicControlsMediaSessionReceiver" />
        </config-file>
    </platform>

    <!-- iOS configuration if needed -->
    <platform name="ios">
        <preference name="target-device" value="universal" />
        <preference name="deployment-target" value="14.0" />
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>audio</string>
            </array>
        </config-file>
    </platform>

    <!-- Essential plugins -->
    <plugin name="cordova-plugin-background-mode" spec="^0.7.3" />
    <plugin name="cordova-plugin-media" spec="^5.0.3" />
    <plugin name="cordova-plugin-music-controls2" spec="^3.0.7">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
        <variable name="ANDROIDX" value="true" />
    </plugin>
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    <plugin name="cordova-plugin-device" spec="^3.0.0" />
    <plugin name="cordova-plugin-powermanagement" spec="^1.0.5" />

</widget>
